@font-face {
  font-family: "Adine";
  font-weight: 700;
  src: url(../fonts/adineueprocyr_boldweb.woff2);
}

@font-face {
  font-family: "Axiforma";
  font-weight: 400;
  src: url(../fonts/Axiforma-Regular.woff2);
}

@font-face {
  font-family: "DM";
  font-weight: 700;
  src: url(../fonts/DMSans-Bold.woff2);
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url(../fonts/Jost-Regular.woff2);
}

@font-face {
  font-family: "Lab";
  font-weight: 800;
  src: url(../fonts/LabGrotesque-Black.woff2);
}

@font-face {
  font-family: "lab";
  font-weight: 700;
  src: url(../fonts/LabGrotesque-Bold.woff2);
}

@font-face {
  font-family: "Lab";
  font-weight: 500;
  src: url(../fonts/LabGrotesque-Medium.woff2);
}

@font-face {
  font-family: "Lab";
  font-weight: 400;
  src: url(../fonts/LabGrotesque-Regular.woff2);
}

body,
ul {
  margin: 0;
  padding: 0;
}

body {
  height: 1000px;
}

ul > li {
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

._container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 46px;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__body {
  width: 100%;
  min-height: 72px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 50;
}

.header__logo {
  max-width: 184px;
  max-height: 29px;
}

.header__logo img {
  width: 100%;
}

.header__logo.logo {
  margin-right: 2.79%;
}

.fixed {
  position: fixed;
  top: 0;
}

.menu {
  max-width: 902px;
}

.menu__item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.menu__item:last-child {
  margin: 0;
}

.menu__link {
  list-style: none;
  text-decoration: none;
  color: unset;
  font-weight: 500;
  color: #AEAEAE;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-family: "Axiforma";
  font-weight: 400;
  font-size: 14px;
}

.menu__link:hover {
  color: #21D4FD;
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 40px;
}

.social {
  min-width: 98px;
  max-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 33px;
}

.language {
  font-size: 12px;
  font-family: "DM";
  color: #F5F5F5;
  cursor: pointer;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.language:hover {
  color: #21D4FD;
}

.avatar {
  position: relative;
  max-width: 35px;
  max-height: 35px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 50;
  margin-left: 40px;
}

.avatar::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: -o-linear-gradient(219.21deg, #21D4FD 2.36%, #E40ECF 94.09%);
  background: linear-gradient(230.79deg, #21D4FD 2.36%, #E40ECF 94.09%);
  border-radius: 50%;
  z-index: -1;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.icon-menu {
  display: none;
}

.menu__burger {
  display: none;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #161616;
  background-image: url(../img/header__bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  overflow: hidden;
}

@media (min-width: 991.98px) {
  .menu__list {
    max-width: 902px;
    min-width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1134px) {
  .social {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .header__menu {
    display: none;
  }

  .menu__burger {
    width: 40px;
    height: 40px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    margin-left: 35px;
  }

  .stick {
    width: 40px;
    height: 4px;
    border-radius: 4px;
    margin-bottom: 5px;
    background-color: #21D4FD;
    display: inline-block;
  }

  .stick:last-child {
    margin-bottom: 0px;
  }

  .stick-1.open {
    -webkit-animation: stick-1-open 0.6s ease-out forwards;
            animation: stick-1-open 0.6s ease-out forwards;
  }

  .stick-2.open {
    -webkit-animation: stick-2-open 0.6s linear forwards;
            animation: stick-2-open 0.6s linear forwards;
  }

  .stick-3.open {
    -webkit-animation: stick-3-open 0.6s linear forwards;
            animation: stick-3-open 0.6s linear forwards;
  }

@-webkit-keyframes stick-1-open {
    0% {
      width: 40px;
    }

    40% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(40px, 0px);
              transform: translate(40px, 0px);
    }

    75%, 80% {
      width: 8px;
      -webkit-transform: translate(40px, -50px);
              transform: translate(40px, -50px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    100% {
      background-color: #E40ECF;
      width: 0px;
      -webkit-transform: translate(35px, 46px);
              transform: translate(35px, 46px);
    }
}

@keyframes stick-1-open {
    0% {
      width: 40px;
    }

    40% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(40px, 0px);
              transform: translate(40px, 0px);
    }

    75%, 80% {
      width: 8px;
      -webkit-transform: translate(40px, -50px);
              transform: translate(40px, -50px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    100% {
      background-color: #E40ECF;
      width: 0px;
      -webkit-transform: translate(35px, 46px);
              transform: translate(35px, 46px);
    }
}

@-webkit-keyframes stick-2-open {
    80% {
      background-color: #21D4FD;
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
      background-color: #E40ECF;
      -webkit-transform: translate(8px, 0px) rotate(40deg);
              transform: translate(8px, 0px) rotate(40deg);
    }
}

@keyframes stick-2-open {
    80% {
      background-color: #21D4FD;
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
      background-color: #E40ECF;
      -webkit-transform: translate(8px, 0px) rotate(40deg);
              transform: translate(8px, 0px) rotate(40deg);
    }
}

@-webkit-keyframes stick-3-open {
    80% {
      background-color: #21D4FD;
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
      background-color: #E40ECF;
      -webkit-transform: translate(8px, -10px) rotate(-40deg);
              transform: translate(8px, -10px) rotate(-40deg);
    }
}

@keyframes stick-3-open {
    80% {
      background-color: #21D4FD;
      -webkit-transform: translate(0px, 0px) rotate(0deg);
              transform: translate(0px, 0px) rotate(0deg);
    }

    100% {
      background-color: #E40ECF;
      -webkit-transform: translate(8px, -10px) rotate(-40deg);
              transform: translate(8px, -10px) rotate(-40deg);
    }
}

  .stick-1.close {
    width: 8px;
    -webkit-transform: translate(27px, 26px);
        -ms-transform: translate(27px, 26px);
            transform: translate(27px, 26px);
    -webkit-animation: stick-1-close 0.6s ease-out forwards;
            animation: stick-1-close 0.6s ease-out forwards;
  }

  .stick-2.close {
    -webkit-transform: translate(0px, 0px) rotate(40deg);
        -ms-transform: translate(0px, 0px) rotate(40deg);
            transform: translate(0px, 0px) rotate(40deg);
    -webkit-animation: stick-2-close 0.6s ease-out forwards;
            animation: stick-2-close 0.6s ease-out forwards;
  }

  .stick-3.close {
    -webkit-transform: translate(0px, -23px) rotate(-40deg);
        -ms-transform: translate(0px, -23px) rotate(-40deg);
            transform: translate(0px, -23px) rotate(-40deg);
    -webkit-animation: stick-3-close 0.6s ease-out forwards;
            animation: stick-3-close 0.6s ease-out forwards;
  }

@-webkit-keyframes stick-1-close {
    0%, 70% {
      width: 0px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
}

@keyframes stick-1-close {
    0%, 70% {
      width: 0px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
}

@-webkit-keyframes stick-2-close {
    0% {
      background-color: #E40ECF;
      width: 40px;
    }

    20% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(0, 0px) rotate(40deg);
              transform: translate(0, 0px) rotate(40deg);
    }

    40% {
      background-color: #21D4FD;
      width: 0px;
    }

    65% {
      -webkit-transform: translate(0, -70px);
              transform: translate(0, -70px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    80% {
      width: 0px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
}

@keyframes stick-2-close {
    0% {
      background-color: #E40ECF;
      width: 40px;
    }

    20% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(0, 0px) rotate(40deg);
              transform: translate(0, 0px) rotate(40deg);
    }

    40% {
      background-color: #21D4FD;
      width: 0px;
    }

    65% {
      -webkit-transform: translate(0, -70px);
              transform: translate(0, -70px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    80% {
      width: 0px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
}

@-webkit-keyframes stick-3-close {
    0% {
      background-color: #E40ECF;
      width: 40px;
    }

    20% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(0, -23px) rotate(-40deg);
              transform: translate(0, -23px) rotate(-40deg);
    }

    40% {
      background-color: #21D4FD;
    }

    65% {
      -webkit-transform: translate(0, -93px);
              transform: translate(0, -93px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    90% {
      width: 8px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
}

@keyframes stick-3-close {
    0% {
      background-color: #E40ECF;
      width: 40px;
    }

    20% {
      background-color: #E40ECF;
      width: 8px;
      -webkit-transform: translate(0, -23px) rotate(-40deg);
              transform: translate(0, -23px) rotate(-40deg);
    }

    40% {
      background-color: #21D4FD;
    }

    65% {
      -webkit-transform: translate(0, -93px);
              transform: translate(0, -93px);
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 1);
              animation-timing-function: cubic-bezier(0, 1, 1, 1);
    }

    90% {
      width: 8px;
    }

    100% {
      width: 40px;
      -webkit-transform: translate(0, 0px);
              transform: translate(0, 0px);
    }
}
}

@media (max-width: 767.98px) {
  ._container {
    padding: 0 15px;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    max-width: 106px;
    max-height: 16.38px;
  }

  .actions-header {
    margin: 0 0 0 20px;
  }

  .avatar {
    display: none;
  }
}